# Dependencies
node_modules/

# Production builds
dist/
build/
.next/
out/

# Environment local overrides
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System
.DS_Store
*.pem
*.tsbuildinfo
